    <div class="site">

        <header class="top">
            <nav class="z-depth-3">
                <div class="container">
                    <div class="nav-wrapper">
                        <a href="/" class="brand-logo">DonutScraper</a>
                        <a href="#" data-target="mobile-resp" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="/">Home</a></li>
                            <li><a href="/saved">Saved</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <ul class="sidenav" id="mobile-resp">
                <li><a href="/">Home</a></li>
                <li><a href="/saved">Saved</a></li>
            </ul>
        </header>

        <main class="middle">
            <div class="parallax-container">
                <div class="parallax"><img src="./img/donutbox.jpg"></div>
            </div>
            <div class="section white">
                <div class="row container">
                    <h2 class="header">Articles</h2>
                    <div class="articles"></div>
                </div>
            </div>
            <div class="parallax-container">
                <div class="parallax"><img src="./img/donuts-from-above.jpg"></div>
            </div>
        </main>

        <footer class="bottom">
            <div class="container">
                Project Scraper 2018 &copy;
            </div>
        </footer>

    </div>